* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.container {
  background: var(--container-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--heading-color); /* Usa a variável de tema para a cor do h4 */
  transition: color 0.3s; /* Transição suave ao alternar o tema */
}

button {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-text);
}

span {
  font-size: 1rem;
  font-weight: 500;
}

:root {
  --background-color: #000040;
  --text-color: #ffffff;
  --container-bg: #1a1a2e;
  --heading-color: #ffffff; /* Cor do h4 no modo escuro */
  --button-bg: #0fa4df;
  --button-text: #000000;
  --button-hover-bg: #204fa7;
  --button-hover-text: #ffffff;
}

[data-theme="light"] {
  --background-color: #eeeeee;
  --text-color: #000000;
  --container-bg: #e6e6e6;
  --heading-color: #000000; /* Cor do h4 no modo claro */
  --button-bg: #007bff;
  --button-text: #000000;
  --button-hover-bg: #0056b3;
  --button-hover-text: #ffffff;
}